<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Methods
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_methods>
            <payment_method>
                <restrict_method>0</restrict_method>
            </payment_method>
            <shipping_method>
                <restrict_method>0</restrict_method>
            </shipping_method>
        </amasty_methods>
    </default>
</config>
