<?xml version="1.0"?>
<!--
/**
 * Dart_Productkeys route xml
 *
 * @package		Dart_Productkeys
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="productkeys" frontName="productkeys">
            <module name="Dart_Productkeys" />
        </route>
    </router>
</config>