<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="payment-option _collapsible opc-payment-additional discount-code"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-discount-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Gift Card Discount'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <form class="form form-discount" id="discount-form-gift">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label" for="discount-code">
                        <span data-bind="i18n: 'Enter discount code'"></span>
                    </label>
                    <div class="control">
                            <label for="coupon_code" class="" style="font-weight:600px;"><span> 
                                <!-- ko i18n: 'Gift Code:'--><!-- /ko --></span></label>
                        <input class="input-text"
                               type="text"
                               id="fee-code"
                               name="code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: code, attr:{placeholder: $t('Enter discount code')} " />
                    </div>
                    <div class="control">
                            <label for="coupon_price" class="" style="font-weight:600px;">
                                <span><!-- ko i18n: 'Amount:'--><!-- /ko --></span></label>
                        <input class="input-text"
                               type="text"
                               id="amount"
                               name="couponamount"
                               data-validate="{'required-entry':true}"
                               data-bind="value: couponamount, attr:{ placeholder: $t('Amount')} " />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                 
                        <button class="action action-apply" type="submit" data-bind="'value': $t('Apply Discount'), click: apply">
                            <span><!-- ko i18n: 'Apply Discount'--><!-- /ko --></span>
                        </button>
                  
                        <button class="action action-cancel" type="submit" data-bind="'value': $t('Cancel'), click: cancel">
                            <span><!-- ko i18n: 'Clear Discount'--><!-- /ko --></span>
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>
