<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category Webkul
 * @package Webkul_MagentoChatSystem
 * @author Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_user_save_after">
        <observer name="chat_system_agent" instance="Webkul\MagentoChatSystem\Observer\Backend\SaveAgentForChat" />
    </event>
    <event name="backend_auth_user_login_success">
    	<observer name="chat_system_agent_login" instance="Webkul\MagentoChatSystem\Observer\Backend\AgentLoginObserver" />
    </event>
</config>
